@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
	margin: 0;
}


html{
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;

}

body{
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;

	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: white;

}


ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

#intro{

	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
width: 500px;
max-width: 500px;
background-color: transparent;
text-align: center;
z-index: 2;
border-radius: 20px 0 20px 0;
border: none;
}

#oortCloud{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	background-color: transparent;
	width: 1000px;
	height: 1000px;
	border-radius: 50%;
overflow: hidden;
}

.btnResume {
	display: inline-block;
  background-color: rgb(30, 32, 48);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
	font-size: 20px;
	margin: 10px;
}

/* Darker background on mouse-over */
.btnResume:hover {
	background-color: RoyalBlue;
	color: white;
}

a{
	text-decoration: none;
	color: rgb(155, 214, 168);
}



.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  background: radial-gradient(circle at 50% 120%,  #ebffb4, #ffa229 80%, #f0ed2f 100%);
}
.ball:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%,  rgba(255, 251, 13, 0.5), rgba(245, 248, 51, 0) 70%);
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  -webkit-filter: blur(5px);
  z-index: 2;
}
.ball:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%,  rgba(200, 255, 0, 0.8), rgba(250, 29, 29, 0.8) 14%, rgba(240, 255, 37, 0) 24%);
  -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -moz-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -ms-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -o-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -webkit-filter: blur(10px);
}







#pluto{
	position: absolute;
	width: 890px;
	height: 890px;
	background-color: transparent;
	border-radius: 50%;
	margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

	animation: spin 98s reverse infinite linear;
}

#pluto::before{
	content: "";
  background-color: rgb(248, 175, 175);
  border-radius: 50%;
  height: 3px;
  position: absolute;
	width:3px;
	top: 435px;
	left: 0;
}


#neptune{
	position: absolute;
	width: 780px;
	height: 780px;
	background-color: transparent;
	border-radius: 50%;
	margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

	animation: spin 78s reverse infinite linear;
}

#neptune::before{
	content: "";
	background: rgb(59,62,207);
	background: linear-gradient(297deg, rgba(59,62,207,1) 11%, rgba(176,179,212,1) 48%, rgba(126,105,231,1) 74%, rgba(39,54,205,1) 81%, rgba(42,31,212,1) 95%); 
  border-radius: 50%;
  height: 34px;
  position: absolute;
	width:34px;
	top: 390px;
	left: 0;

	border: double grey 2px;
}

#neptune::after{

		content: "";
		background: transparent;
		border-radius: 50%;
		height: 36px;
		position: absolute;
		width: 41px;
		top: 390px;
		left: -3px;
		border: double grey 2px;
	
}

#uranus{
	position: absolute;
	width: 700px;
	height: 700px;
	background-color: transparent;
	border-radius: 50%;
	margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

	animation: spin 76s reverse infinite linear;
}

#uranus::before{
	content: "";
	background: rgb(208,231,227);
	background: linear-gradient(297deg, rgba(208,231,227,1) 11%, rgba(176,212,206,1) 48%, rgba(232,245,243,1) 74%, rgba(188,210,208,1) 81%, rgba(207,245,241,1) 95%); 
  border-radius: 50%;
  height: 36px;
  position: absolute;
	width:36px;
	top: 350px;
	left: 0;
}



#saturn{
	position: absolute;
	width: 600px;
	height: 600px;
	background-color: transparent;
	border-radius: 50%;

	margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

	animation: spin 64s reverse infinite linear;
}

#saturn::before{
	content: "";
	background: rgb(183,182,95);
	background: linear-gradient(297deg, rgba(183,182,95,1) 8%, rgba(205,179,85,1) 31%, rgba(221,219,17,1) 48%, rgba(203,209,66,1) 74%, rgba(219,190,55,1) 93%); 
  border-radius: 50%;
  height: 53px;
  position: absolute;
	width:53px;
	top: 300px;
	left: px;

}

#saturn::after{
	content: "";
	background: transparent;
	border: solid orange 4px;
	border-radius: 50%;
	height: 59px;
	position: absolute;
	width: 68px;
	top: 300px;
	left: -9px;
}






#jupiter{
	position: absolute;
	width: 400px;
	height: 400px;
	background-color: transparent;
	border-radius: 50%;
	margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

	animation: spin 58s reverse infinite linear;
}

#jupiter::before{
	content: "";
	background: rgb(248,197,207);
	background: linear-gradient(297deg, rgba(248,197,207,1) 2%, rgba(243,184,189,1) 5%, rgba(242,218,224,1) 9%, rgba(209,135,135,1) 12%, rgba(239,179,179,1) 17%, rgba(219,179,179,1) 26%, rgba(198,193,193,1) 38%, rgba(248,192,192,1) 48%, rgba(226,126,126,1) 54%, rgba(239,203,203,1) 62%, rgba(216,189,189,1) 65%, rgba(207,194,194,1) 70%, rgba(251,214,214,1) 74%, rgba(251,205,205,1) 80%, rgba(249,155,184,1) 84%, rgba(254,190,203,1) 90%, rgba(234,145,163,1) 95%); 
  border-radius: 50%;
  height: 88px;
  position: absolute;
	width:88px;
	top: 200px;
	left: 0;
}

#jupiter::after{
	content: "";
	background: rgb(230,18,61);
background: radial-gradient(circle, rgba(230,18,61,1) 2%, rgba(243,184,189,1) 5%, rgba(154,44,72,1) 9%, rgba(255,255,255,1) 12%);
  border-radius: 50%;
  height: 88px;
  position: absolute;
	width:88px;
	top: 200px;
	left: 0;
	opacity: 0.2;
}


#mars{
	position: absolute;
	width: 180px;
	height: 180px;
	background-color: transparent;
	border-radius: 50%;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	animation: spin 38s reverse infinite linear;
}

#mars::before{
	content: "";
	background: rgb(183,101,95);
	background: linear-gradient(297deg, rgba(183,101,95,1) 8%, rgba(205,91,85,1) 31%, rgba(221,47,17,1) 48%, rgba(209,70,66,1) 74%, rgba(219,69,55,1) 93%);
  border-radius: 50%;
  height: 4px;
  position: absolute;
	width: 4px;
	top: 80px;
  left: 0;
}


#earth{
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: transparent;
	border-radius: 50%;
	margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

	animation: spin 30s reverse infinite linear;
}

#earth::before{
	content: "";
	background: rgb(195,227,232);
	background: linear-gradient(139deg, rgba(195,227,232,1) 0%, rgba(101,97,243,1) 10%, rgba(77,156,126,1) 20%, rgba(194,245,173,1) 28%, rgba(75,198,93,1) 37%, rgba(98,144,191,1) 46%, rgba(31,137,59,1) 54%, rgba(31,65,137,1) 63%, rgba(136,166,229,1) 70%, rgba(95,123,183,1) 75%, rgba(88,132,226,1) 82%, rgba(179,196,232,1) 93%); 
  border-radius: 50%;
  height: 7px;
  position: absolute;
	width: 7px;
	top: 60px;
  left: 0;

}


#venus{
	position: absolute;
	width: 120px;
	height: 120px;
	background-color: transparent;
	border-radius: 50%;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	animation: spin 29s reverse infinite linear;
}

#venus::before{
	content: "";
  background-color: rgb(248, 175, 175);
  border-radius: 50%;
  height: 7px;
  position: absolute;
	width: 7px;
	top: 60px;
  left: 0;
}

#mercury{
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border-radius: 50%;
	margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

	animation: spin 18s reverse infinite linear;
}

#mercury::before{
	content: "";
  background-color: rgb(109, 109, 109);
  border-radius: 50%;
  height: 3px;
  position: absolute;
	width: 3px;
	top: 30px;
	left: 0;

}

.sun {

  width: 30px;
  height: 30px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	animation: spin 583s infinite linear;
}

@keyframes spin {
	from{ transform: rotate(0deg)}
	to{transform: rotate(360deg)}
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
	from {background-position: 0;}
	to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-3;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-3;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:-3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}